# Exploring Retail Rocket

## Required Packages

In [6]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

## Exploring Datasets

In [16]:
directory = Path("../Datasets/2/")
files = [f.name for f in Path(directory).iterdir()]

print(files)

['item_properties_part1.csv', 'item_properties_part2.csv', 'category_tree.csv', 'events.csv']

### Item Properties (1)

In [18]:
item_properties1 = pd.read_csv("../Datasets/2/item_properties_part1.csv")
print(f'The dataset contains {len(item_properties1)} rows')
item_properties1.head()

The dataset contains 10999999 items

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513